--
-- PostgreSQL database dump
--

\restrict cF54jHfgOkq1qjI79gJkOl5QdRmaxQUm0fGoOeCBVBH0heb39doaGDJdHZDcG0j

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: quran_verses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quran_verses (
    id integer NOT NULL,
    surah integer NOT NULL,
    ayah integer NOT NULL,
    arabic text NOT NULL,
    translation text NOT NULL
);


ALTER TABLE public.quran_verses OWNER TO postgres;

--
-- Name: quran_verses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.quran_verses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quran_verses_id_seq OWNER TO postgres;

--
-- Name: quran_verses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.quran_verses_id_seq OWNED BY public.quran_verses.id;


--
-- Name: quran_verses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quran_verses ALTER COLUMN id SET DEFAULT nextval('public.quran_verses_id_seq'::regclass);


--
-- Data for Name: quran_verses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: quran_verses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quran_verses_id_seq', 6, true);


--
-- Name: quran_verses quran_verses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quran_verses
    ADD CONSTRAINT quran_verses_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict cF54jHfgOkq1qjI79gJkOl5QdRmaxQUm0fGoOeCBVBH0heb39doaGDJdHZDcG0j

